<h1>Listing articles</h1>

<%= search_form_for @q do |search| %>
  <%= search.label :title_or_description_cont %>
  <%= search.text_field :title_or_description_cont %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :title, "Title") %></th>
      <th><%= sort_link(@q, :description, "Description") %></th>
      <th><%= sort_link(@q, :price, "Price") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= article.price %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @articles %>

<br>

<%= link_to 'New Article', new_article_path %>
