<!DOCTYPE html>
<html>
<head>
  <title>Invoincing</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in? %>
    <header>
      <ul>
        <li><%= link_to 'Articles', articles_path %></li>
        <li><%= link_to 'Orders', orders_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      </ul>
    </header>
  <% end %>

  <%= yield %>

</body>
</html>
